
# Address for the control/debug http.
control_addr = "127.0.0.1:8081"

# HTTP(s) proxy
[[https]]
addr = ":https"
certs = "/etc/letsencrypt/live/"

# Take the routes from the definition below as a baseline.
base_routes = "default"

  # Extend the base routes.
  [https.routes]
  "/local/" = "http://localhost:99/"


[[http]]
addr = ":http"
base_routes = "default"


[routes.default]
"/" = "http://localhost:8080/"


[[raw]]
addr = ":995"

# If this is present, we will listen on a TLS socket; otherwise it will be a
# plain socket.
certs = "/etc/letsencrypt/live/"

# Where to connect to. If to_tls is true, then we will do TLS against the
# backend.
to = "example.com:1995"
to_tls = true
